body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
}

.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 12px 144px 48px;
}

.header-main {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-right {
    margin: 12px 0 12px;
}

.hero-img {
    width: 600px;
}

.hero-signup-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    padding: 8px 48px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.navbar-right {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar-left {
    font-size: 24px;
}

.sub-image {
    width: 250px;
}