body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
}

.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 12px 144px 48px;
}

.header-main {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-right {
    margin: 12px 0 12px;
}

.hero-img {
    width: 600px;
}

.hero-signup-btn,
.cta-signup-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    padding: 8px 48px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.navbar-right {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar-left {
    font-size: 24px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 48px;
    color: #1F2937;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 48px;
}

.image-text {
    font-size: 18px;
}

.info-one-container,
.info-two-container,
.info-three-container,
.info-four-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-image {
    width: 250px;
    border: 3px solid #3882F6;
    border-radius: 10%
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 70px 210px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-text {
    margin-bottom: 0;
}

.quote-author {
    font-weight: 900;
    margin: 0;
    text-align: end;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    margin: 96px 160px;
    padding: 48px 96px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

.cta-details {
    display: flex;
    flex-direction: column;
}

.cta-title {
    font-weight: 700;
}

.cta-text {
    color: #E5E7EB;
}

.cta-title,
.cta-text {
    margin: 2px;
}

.cta-button-container {
    display: flex;
    align-items: center;
}

.cta-signup-btn {
    height: 42px;
    border: 2px solid;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 24px;
    text-align: center;
}